$font-body: 'Roboto', sans-serif;
$font-header: 'Roboto', sans-serif;
$font-fancy: 'Roboto', sans-serif;
$color-accent: #3B82F6; // A rich, royal gold
$color-dark: #1E40AF;
$color-light: #3B82F6;
$background-color: #F9FAFB;
$text-color: #111827;
