
$font-body: 'Great Vibes', cursive;
$font-header: 'IM Fell English', serif;
$font-fancy: 'IM Fell English', serif;
$color-accent: #d4af37; // A rich, royal gold
$color-light: #fefcf6;
$color-dark: #1a1a1a;
