@use './variables' as *;

.hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light;
  text-align: center;
  // padding-inline-end: 2rem;

  &__overlay {
    margin-inline-start: 27vw;
    padding-inline-end: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // max-width: 50%;
    height: 100vh;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-size: 100% 100%;
    /* From https://css.glass */
    background: rgba(249, 250, 251, 0.15);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
  }

  &__welcome {
    font-family: $font-header;
    // text-align: left;
    font-size: 2.5rem;
    font-weight: 400;
    color: $color-accent;
    margin-bottom: 0.5rem;
  }

  &__headline {
    font-family: $font-header;
    font-size: 2rem;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }

  &__cta {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-inline: auto;
    max-width: 10rem;
    border: 2px solid $color-accent;
    color: $text-color;
    font-family: $font-body;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: $color-accent;
      color: $color-dark;
    }
  }
}


.hero__cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  // border: 2px solid $color-accent;
  color: $color-accent;
  font-family: $font-body;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  // box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);

  &:hover {
    // background-color: $color-accent;
    color: $color-dark;
    animation: pulse-glow 1.5s infinite;
    transform: scale(1.05);
    color: $background-color;
  }
}
