@use './variables' as *;
@use './Hero';
@use './Header';

* {
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url('../Assets/gggrain\ \(1\).svg');
  // background-image: url('../Assets/uuunion.svg');
  background-size: cover;
}
